[submodule "MyRef"]
	path = MyRef
	url = git@github.com:G-Ohara/MyRef.git
[submodule "python/NewLIME"]
	path = python/NewLIME
	url = git@github.com:G-Ohara/NewLIME.git
[submodule "python/exp2/NewLIME"]
	path = python/exp2/NewLIME
	url = git@github.com:G-Ohara/NewLIME.git
