[submodule "experiments/exp2/R-LIME"]
	path = src/experiments/exp2/rlime
	url = git@github.com:G-Ohara/R-LIME.git
[submodule "experiments/exp_adv/RLIME"]
	path = src/experiments/exp_adv/RLIME
	url = git@github.com:G-Ohara/R-LIME.git
[submodule "paper/myref"]
	path = src/myref
	url = git@github.com:g-ohara/myref.git
[submodule "src/tex-template"]
	path = src/tex-template
	url = git@github.com:g-ohara/tex-template.git
[submodule "src/experiments/exp1/ver2"]
	path = src/experiments/exp1/ver2
	url = git@github.com:g-ohara/rlime-examples.git
[submodule "src/experiments/exp1/ver1"]
	path = src/experiments/exp1/ver1
	url = git@github.com:g-ohara/rlime.git
[submodule "src/experiments/test/src/rlime-examples"]
	path = src/experiments/exp2b/src/rlime-examples
	url = git@github.com:g-ohara/rlime-examples.git
